# TOPIC: String Based Assignment Problem

In [1]:
#1. Write a program to reverse a string.
strn=input('Enter a string:')
print(strn[::-1])

Enter a string:I love India
aidnI evol I

In [2]:
#2. Check if a string is a palindrome.
input_strn=input('Enter a string:')
update_strn=input_strn.replace(' ','').lower()
reverse_strn=update_strn[::-1]
if reverse_strn==update_strn:
    print('Input string is a palindrom')
else:
    print('Input string is not a palindrom')

Enter a string:I lovw India
Input string is not a palindrom

In [3]:
#3. Convert a string to uppercase.
strn=input('Enter a string=')
print(strn.upper())

Enter a string=I love India
I LOVE INDIA

In [4]:
#4. Convert a string to lowercase.
strn=input('Enter a string=')
print(strn.lower())

Enter a string=MANAB
manab

In [5]:
#5. Count the number of vowels in a string.
strn=input('Enter a string=')
count=0
for char in strn:
    if char in 'aeiouAEIOU':
        count=count+1
print('Number of vowel=',count)

Enter a string=I love India
Number of vowel= 6

In [6]:
#6. Count the number of consonants in a string.
strn=input('Enter the string=')
count=0
for char in strn:
    if char not in 'aeiouAEIOU':
        count=count+1
print('Number of consonants=',count)

Enter the string=Manab
Number of consonants= 3

In [7]:
#7. Remove all whitespaces from a string.
strn=input('Enter a string=')
strn.replace(' ','')

Enter a string=I love India

'IloveIndia'

In [8]:
#8. Find the length of a string without using the `len()` function.
strn=input('Enter a string=')
count=0
for char in strn:
    count=count+1
print('Length of the string=',count)

Enter a string=Manab
Length of the string= 5

In [9]:
#9. Check if a string contains a specific word.
strn=input('Enter a string=')
if 'India' in strn:
    print('The word India is in the string.')
else:
    print('The word India is not in the string.')

Enter a string=I love India
The word India is in the string.

In [10]:
#10. Replace a word in a string with another word.
inp_strn=input('Enter a string:')
old_wrd=input('Enter the word to be replaced:')
new_wrd=input('Enterthe new word:')
modified_strn=inp_strn.replace(old_wrd,new_wrd)
print(modified_strn)

Enter a string:I love India
Enter the word to be replaced:love
Enterthe new word:feel
I feel India

In [13]:
#11. Count the occurrences of a word in a string.
inp_strn=input('Enter a string:')
words=inp_strn.split()
count=0
count_word=input('Enter the word for occurrence count=')
for word in words:
    if word==count_word:
        count+=1
print('Number of occurance=',count)

Enter a string:Manab
Enter the word for occurrence count=a
Number of occurance= 0

In [14]:
#12. Find the first occurrence of a word in a string.
strn=input('Enter a string=')
word=input('Enter the word=')
index=strn.find(word)
if index==-1:
    print('The word is not found in the string')
else:
    print(index)

Enter a string=I love India
Enter the word=love
2

In [15]:
#13. Find the last occurrence of a word in a string.
strn=input('Enter a string=')
word=input('Enter the word=')
index=strn.rfind(word)
if index==-1:
    print('The word is not found in the string')

Enter a string=I love India
Enter the word=love
2

In [16]:
#14. Split a string into a list of words.
strn=input('Input string=')
word_list=strn.split()
print(word_list)

Input string=I love India
['I', 'love', 'India']

In [17]:
#15. Join a list of words into a string.
word_list=input('Enter a list of word=')
joined_string=''.join(word_list)
print(joined_string)

Enter a list of word='I', 'love', 'India'
'I', 'love', 'India'

In [18]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
strn=input('Enter your string=')
underscore_seperated=strn.replace(' ','_')
print(underscore_seperated)

Enter your string=I love India
I_love_India

In [19]:
#17. Check if a string starts with a specific word or phrase.
def start_with(strn,prefix):
    is_start=strn.startswith(prefix)
    return is_start
strn=input('Enter your string=')
prefix=input('Enter your prefix=')
result=start_with(strn,prefix)
if result:
    print('String start with specific word')
else:
    print('String does not start with specific word')

Enter your string=Manab Das
Enter your prefix=Manab
String start with specific word

In [20]:
#18. Check if a string ends with a specific word or phrase.
def ends_with(strn,suffix):
    is_end=strn.endswith(suffix)
    return is_end
strn=input('Enter your string=')
suffix=input('Enter your word=')
result=ends_with(strn,suffix)
if result:
    print('The string ends with the prefix')
else:
    print('The string does not end with the string')

Enter your string=Manab Das
Enter your word=Manab
The string does not end with the string

In [21]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
def convert_to_title_case(strn):
    title_case_strn=strn.title()
    return title_case_strn
strn=input('Enter your string=')
title_case_test_result=convert_to_title_case(strn)
print('Title Case:',title_case_test_result)

Enter your string=hello world
Title Case: Hello World

In [22]:
#20. Find the longest word in a string.
def longest_word(strn):
    words=strn.split()
    longest_word=''
    max_length=0
    for word in words:
        if len(word)>max_length:
            max_length=len(word)
            longest_word=word
    return longest_word
strn=input('Enter your string=')
longest_word=longest_word(strn)

Enter your string=I love India
Longest_word= India

In [23]:
#21. Find the shortest word in a string.
def sortest_word(strn):
    words=strn.split()
    sortest_word=None
    min_length=float('inf')
    for word in words:
        if len(word)<min_length:
            sortest_word=word
            min_length=len(word)
    return sortest_word
strn=input('Enter your string=')
sortest_word=sortest_word(strn)
print('Sortes Word is=',sortest_word)

Enter your string=I love India
Sortes Word is= I

In [1]:
#22. Reverse the order of words in a string.
def reverse_words(string):
    words = string.split()
    reversed_words = words[::-1]
    reversed_string = " ".join(reversed_words)
    return reversed_string
my_string = "Hello world, how are you?"
reversed_string = reverse_words(my_string)
print(reversed_string)

you? are how world, Hello

In [24]:
#23. Check if a string is alphanumeric.
def is_alphanumeric(strn):
    return strn.isalnum()
strn=input('Enter your string=')
result=is_alphanumeric(strn)
if result:
    print('The input string is a alphanumeric')
else:
    print('The input string is not a alpha numeric')

Enter your string=Manab29
The input string is a alphanumeric

In [25]:
#24. Extract all digits from a string.
def extract_digit(strn):
    digit=''
    for char in strn:
        if char.isdigit():
            digit=digit+char
    return digit
strn=input('Enter your string=')
extract_digit=extract_digit(strn)
print('Extract digit=',extract_digit)

Enter your string=Manab29
Extract digit= 29

In [26]:
#25. Extract all alphabets from a string.
def extract_alphabets(strn):
    alphabets=''
    for char in strn:
        if char.isalpha():
            alphabets=alphabets+char
    return alphabets
strn=input('Please enter your string: ')
extract_alphabets=extract_alphabets(strn)
print('Extract alphabets:',extract_alphabets)

Please enter your string: Manab29
Extract alphabets: Manab

In [27]:
#26. Count the number of uppercase letters in a string.
def count_uppercase(strn):
    count=0
    for char in strn:
        if char.isupper():
            count=count+1
    return count
strn=input('Enter your string=')
uppercase_count=count_uppercase(strn)
print('Number of uppercase=',uppercase_count)

Enter your string=Manab
Number of uppercase= 1

In [28]:
#27. Count the number of lowercase letters in a string.
def count_lowercase(strn):
    count=0
    for char in strn:
        if char.islower():
            count=count+1
    return count
strn=input('Enter your string=')
count=count_lowercase(strn)
print('Number of lowercase:',count)

Enter your string=Manab
Number of lowercase: 4

In [29]:
#28. Swap the case of each character in a string.
def swap_case(strn):
    swap_strn=strn.swapcase()
    return swap_strn
strn=input('Enter string: ')
swap=swap_case(strn)
print('Swap string: ',swap)

Enter string: Manab
Swap string:  mANAB

In [30]:
#29. Remove a specific word from a string.
def remove_word(strn,specific_word):
    words=strn.split()
    for word in words:
        if word != specific_word:
            modified_stn=' '.join(word)
    return modified_stn
strn=input('String: ')
specific_word=input('Word=')
modified_stn=remove_word(strn,specific_word)
print('Modified_string: ',modified_stn)

String: I love India
Word=I
Modified_string:  I n d i a

In [2]:
#30. Check if a string is a valid email address.
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = 'das.manab29@gmail.com'
email2 = 'idas.manab29'
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [3]:
#31. Extract the username from an email address string.
def extarct_username(email):
    username=email.split('@')[0]
    return username
email=input('Enter a email=')
username=extarct_username(email)
print('User name is:',username)

Enter a email=das.manab29@gmail.com
User name is: das.manab29

In [4]:
#32. Extract the domain name from an email address string.
def extract_domain(email):
    domain=email.split('@')[1]
    return domain
email=input('Please enter your email:')
domain=extract_domain(email)
print('The domain name is:',domain)

Please enter your email:das.manab29@gmail.com
The domain name is: gmail.com

In [6]:
#33. Replace multiple spaces in a string with a single space.
def multiple_space(strn):
    cleaned_string = ' '.join(strn.split())
    return cleaned_string
strn=input('Enter your string:')
clean_strn=multiple_space(strn)
print(clean_strn)

Enter your string:I love   India
I love India

In [7]:
#34. Check if a string is a valid URL
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) 
    except ValueError:
        return False
url1=input('Enter a valid url:')
url2=input('Enter a invalid url:')
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

Enter a valid url:https://www.youtube.com
Enter a invalid url:https://www.facebook.com
True
True

In [8]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [9]:
#36. Find the frequency of each character in a string.
def char_frequency(strn):
    frequency={}
    for char in strn:
        if char in frequency:
            frequency[char]+=1
        else:
            frequency[char]=1
    return frequency
strn=input('Enter a strn:')
frequency=char_frequency(strn)
for char, freq in frequency.items():
    print(f"Character: '{char}', Frequency: {freq}")

Enter a strn:Manab
Character: 'M', Frequency: 1
Character: 'a', Frequency: 2
Character: 'n', Frequency: 1
Character: 'b', Frequency: 1

In [10]:
#37. Remove all punctuation from a string.
import string
def remove_punctuation(strn):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = strn.translate(translator)
    return clean_string
strn=input('Enter a string: ')
cleaned_str = remove_punctuation(strn)
print("Cleaned string:", cleaned_str)

Enter a string: Manab! Das.
Cleaned string: Manab Das

In [11]:
#38. Check if a string contains only digits.
def strn_only_digit(strn):
    return strn.isdigit()
strn1=input('Enter a string:')
strn2=input('Enter a string:')
strn3=input('Enter a string:')
result1=strn_only_digit(strn1)
result2=strn_only_digit(strn2)
result3=strn_only_digit(strn3)
print(f"'{strn1}' contains only digit: ",result1)
print(f"'{strn2}' contains only digit: ",result2)
print(f"'{strn3}' contains only digit: ",result3)

Enter a string:Manab29
Enter a string:Manab Das
Enter a string:Manab
'Manab29' contains only digit:  False
'Manab Das' contains only digit:  False
'Manab' contains only digit:  False

In [12]:
#39. Check if a string contains only alphabets.
def is_only_alpha(strn):
    return strn.isalpha()
strn1=input('Enter a string:')
strn2=input('Enter a string:')
strn3=input('Enter a string:')
result1=is_only_alpha(strn1)
result2=is_only_alpha(strn2)
result3=is_only_alpha(strn3)
print(f"'{strn1}' contain only alphabets: ",result1)
print(f"'{strn2}' contain only alphabets: ",result2)
print(f"'{strn3}' contain only alphabets: ",result3)

Enter a string:Manab
Enter a string:Manab29
Enter a string:123
'Manab' contain only alphabets:  True
'Manab29' contain only alphabets:  False
'123' contain only alphabets:  False

In [13]:
#40. Convert a string to a list of characters.
def strn_to_list(strn):
    char_list=list(strn)
    return char_list
strn=input('Enter a string:')
lst=strn_to_list(strn)
print('List of characters:', lst)

Enter a string:Manab
List of characters: ['M', 'a', 'n', 'a', 'b']

In [14]:
#41. Check if two strings are anagrams.
def are_anagrams(str1,str2):
    str1=str1.replace(' ','').lower()
    str2=str2.replace(' ','').lower()
    return sorted(strn1)==sorted(strn2)
strn1=input('strn1=')
strn2=input('strn2=')
strn3=input('strn3=')
strn4=input('strn4=')
result1=are_anagrams(strn1,strn2)
result2=are_anagrams(strn3,strn4)
print(f"'{strn1}' and '{strn2}' are anagrams: ",result1)
print(f"'{strn3}' and '{strn4}' are anagrams: ",result2)

strn1=Manab
strn2=Nabv
strn3=sdkhasi
strn4=sadh
'Manab' and 'Nabv' are anagrams:  False
'sdkhasi' and 'sadh' are anagrams:  False

In [15]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
             encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char

        encoded_text += encoded_char

  
    return encoded_text
text = "Hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [16]:
#43. Decode a Caesar cipher encoded string.

def caesar_cipher_decoder(text, shift):
   
    decoded_text = ""

    
    for char in text:
        
        if char.isalpha():
            
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            
            decoded_char = char

        
        decoded_text += decoded_char

    
    return decoded_text


text = "lopp, zruog!"
shift = 3


decoded_text = caesar_cipher_decoder(text, shift)

print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [17]:
#44. Find the most frequent word in a string.
import re
from collections import Counter
def most_frequent_word(strn):
    clean_string = re.sub(r'[^\w\s]', '', strn).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
strn=input('Enter a string: ')
most_common = most_frequent_word(strn)
print("Most frequent word:", most_common)

Enter a string: I love India
Most frequent word: i

In [18]:
#45. Find all unique words in a string.
import re
def unique_words(strn):
    clean_string = re.sub(r'[^\w\s]', '',strn).lower()
    words = set(clean_string.split())
    return words
strn=input('Enter a string: ')
unique_word=unique_words(strn)
print(unique_word)

Enter a string: Manab
{'manab'}

In [19]:
#46. Count the number of syllables in a string.
import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "hello"
word2 = "banana"
word3 = "syllable"
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [20]:
#47. Check if a string contains any special characters.
import re
def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [24]:
#48. Remove the nth word from a string.
def remove_nth_word(strn,n):
    word=strn.split()
    if n>=1 and n<=len(word):
        removed_word=word.pop(n-1)
        modified_strn=' '.join(word)
        return modified_strn, removed_word
    else:
        return None,None
strn=input('Enter a string: ')
n_value=int(input('Enter a value:'))
modified_str, removed_word = remove_nth_word(strn, n_value)
print("Original string:", strn)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Enter a string: I love India
Enter a value:1
Original string: I love India
Modified string: love India
Removed word: I

In [25]:
#49. Insert a word at the nth position in a string.
s = "Hello, world!"
n = 6
word_to_insert = "beautiful "
new_s = s[:n] + word_to_insert + s[n:]
print(new_s)

Hello,beautiful  world!

In [26]:
#50. Convert a CSV string to a list of lists.
import csv
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
lines = csv_string.strip().split('\n')
csv_reader = csv.reader(lines)
list_of_lists = [row for row in csv_reader]
print(list_of_lists)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

# List Based Practice Problem :

In [27]:
#1. Create a list with integers from 1 to 10.
list1=[]
for i in range(1,11):
    list1.append(i)
    
print('List=',list1)

List= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
#2. Find the length of a list without using the `len()` function.
len=0
list1=[1,2,3,4,5]
for i in list1:
    len=len+1
print('Length of the list=',len)

Length of the list= 5

In [29]:
#3. Append an element to the end of a list.
list1=[1,2,3,4,5]
list1.append(6)
print(list1)

[1, 2, 3, 4, 5, 6]

In [30]:
#4. Insert an element at a specific index in a list.
list1=[1,2,4,5]
list1.insert(2,'Manab')
print(list1)

[1, 2, 'Manab', 4, 5]

In [31]:
#5. Remove an element from a list by its value.
list1=[1,2,4,5]
list1.remove(2)
print(list1)

[1, 4, 5]

In [32]:
#6. Remove an element from a list by its index.
list1=[1,2,3,4,5]
list1.pop(2)
print(list1)

[1, 2, 4, 5]

In [33]:
#7. Check if an element exists in a list.
list1=[1,2,3,4,5,6]
if 3 in list1: 
    print('Exist')
else:
    print('Not exist')

Exist

In [34]:
#8. Find the index of the first occurrence of an element in a list.
list1=[1,2,3,4,5,6]
ele=3
print(list1.index(3))

2

In [35]:
#9. Count the occurrences of an element in a list.
list1=[1,2,3,4,5,6,4]
ele=4
count=0
for i in list1:
    if i==4:
        count=count+1
print(count)

2

In [36]:
list2=[1,2,3,4,5,2]
ele=2
print(list2.count(ele))

2

In [37]:
#10. Reverse the order of elements in a list
list1=[1,2,3,4,5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

In [38]:
#11. Sort a list in ascending order.
list1=[1,2,4,9,5,3]
list1.sort()
print(list1)

[1, 2, 3, 4, 5, 9]

In [39]:
#12. Sort a list in descending order.
list1=[23,34,11,45,19,13]
list1.sort(reverse=True)
print(list1)

[45, 34, 23, 19, 13, 11]

In [40]:
#13. Create a list of even numbers from 1 to 20.
even_list=[]
for i in range(2,21,2):
    even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
#14. Create a list of odd numbers from 1 to 20
odd_list=[]
for i in range(1,21,2):
    odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [42]:
#15. Find the sum of all elements in a list.
sum=0
list1=[13,34,533,12,34]
for i in list1:
    sum=sum+i
print('Sum of list elements=',sum)

Sum of list elements= 626

In [43]:
#16. Find the maximum value in a list.
print('Maximum value in the list is:',max(list1))

Maximum value in the list is: 533

In [44]:
#17. Find the minimum value in a list.
list1=[1,5,2,86,23,6]
print('Minimum value in list is:',min(list1))

Minimum value in list is: 1

In [45]:
#18. Create a list of squares of numbers from 1 to 10.
list1=[]
for i in range(1,11):
    list1.append(i*i)
print('list1=',list1)

list1= [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
#19. Create a list of random numbers.
import random
list1=[]
for i in range(10):
    list1.append(random.randint(1,100))
    
print('Random list=',list1)

Random list= [2, 77, 17, 4, 45, 45, 3, 73, 67, 48]

In [47]:
#20. Remove duplicates from a list.
list1=[1,2,5,2,4,7,3,4]
unique_list=list(set(list1))
print('List1=',unique_list)

List1= [1, 2, 3, 4, 5, 7]

In [48]:
#21. Find the common elements between two lists.
list1=[1,2,3,4,6,8]
list2=[2,5,3,9,11]
for i in list1:
    for j in list2:
        if i==j:
            print(i)

2
3

In [49]:
#21. Find the common elements between two lists.
list1=[1,2,3,4,5]
list2=[1,4,2,6,8]
common_elements=list(set(list1)&set(list2))
print(common_elements)

[1, 2, 4]

In [50]:
#22. Find the difference between two lists.
list1=[2,5,6,8]
list2=[3,6,7,9]
difference=list(set(list1)-set(list2))
print(difference)

[8, 2, 5]

In [51]:
#23. Merge two lists.
list1=[1,2,3,4]
list2=[2,3,4,5]
marge_list=list1+list2
print('marge_list=',marge_list)

marge_list= [1, 2, 3, 4, 2, 3, 4, 5]

In [52]:
#24. Multiply all elements in a list by 2.
list1=[1,2,3,4,5]
new_list=[i*2 for i in list1]
print('New_list=',new_list)

New_list= [2, 4, 6, 8, 10]

In [53]:
#25. Filter out all even numbers from a list.
list1=[1,2,3,4,5,6,7,8]
for i in list1:
    if i%2==0:
        print('Even numbers=',i)

Even numbers= 2
Even numbers= 4
Even numbers= 6
Even numbers= 8

In [54]:
#26. Convert a list of strings to a list of integers.
list1=['11','12','13','14']
integer_list=[int(i) for i in list1 ]
print('Integer_list=',integer_list)

Integer_list= [11, 12, 13, 14]

In [55]:
#27. Convert a list of integers to a list of strings.
list1=[1,2,3,4,5,6]
str_list=[str(i) for i in list1]
print('Converted List=',str_list)

Converted List= ['1', '2', '3', '4', '5', '6']

In [56]:
#28. Flatten a nested list.
list1=[[1,23,4,6],[2,3,5], [34,56,78],[12,23,34]]
flaten_list=[]
for sublist  in list1:
    for i in sublist:
        flaten_list.append(i)
print('Flaten_list=',flaten_list)

Flaten_list= [1, 23, 4, 6, 2, 3, 5, 34, 56, 78, 12, 23, 34]

In [57]:
#29. Create a list of the first 10 Fibonacci numbers.
fibonacci = [0, 1]

for i in range(2, 10):
    next_fibonacci = fibonacci[i-1] + fibonacci[i-2]
    fibonacci.append(next_fibonacci)

print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:
#30. Check if a list is sorted.
def is_sorted(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
ascending_list = [10, 20, 30, 40, 50]
if is_sorted(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [3]:
#31. Rotate a list to the left by `n` positions.
my_list = [1, 2, 3, 4, 5]
n = 2

rotated_list = my_list[n:] + my_list[:n]

print(rotated_list)

[3, 4, 5, 1, 2]

In [4]:
#32. Rotate a list to the right by `n` positions.
list1=[1,2,3,4,5,6]
n=2
roted_list=list1[-n:]+list1[:-n]
print('Roted_list=',roted_list)

Roted_list= [5, 6, 1, 2, 3, 4]

In [5]:
#33. Create a list of prime numbers up to 50.
prime_list=[1]
for num in range(2,51):
    if all(num%i!=0 for i in range(2, int((num*0.5)+1))):
        prime_list.append(num)
print('Prime List=',prime_list)

Prime List= [1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [6]:
#34. Split a list into chunks of size `n`.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3
chunked_list = [my_list[i:i+n] for i in range(0, len(my_list), n)]

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
#35. Find the second largest number in a list.
list1=[1,34,21,39,13,29]
largest=max(list1)
list1.remove(largest)
second_largest=max(list1)
print('2nd Largest=', second_largest)

2nd Largest= 34

In [8]:
#36. Replace every element in a list with its square.
list1=[2,4,6,8,10]
new_list=[]
for i in list1:
    new_list.append(i*i)
print(new_list)

[4, 16, 36, 64, 100]

In [9]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
list1=['Apple','Orange','Coconut','Mango']
my_dict={list1[i]:i for i in range(len(list1))}
print(my_dict)

{'Apple': 0, 'Orange': 1, 'Coconut': 2, 'Mango': 3}

In [10]:
#38. Shuffle the elements of a list randomly.
import random
list1=[1,4,2,5,7]
random.shuffle(list1)
print(list1)

[7, 1, 4, 2, 5]

In [11]:
#39. Create a list of the first 10 factorial numbers.
factorials=[]
for i in range(1,11):
    fact=1
    j=1
    while j<=i:
        fact=fact*j
        j=j+1
    factorials.append(fact)
print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [12]:
#40. Check if two lists have at least one element in common.
def common_elements(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False
list1=[1,3,6,9]
list2=[2,5,7,9] 
if common_elements(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [13]:
#41. Remove all elements from a list.
list1=[1,2,3,4,5]
list1.clear()
print('Removed list=',list1)

Removed list= []

In [14]:
#42. Replace negative numbers in a list with 0.
list1=[12,-23,11,-22,-14]
for i in range(len(list1)):
    if list1[i]<0:
        list1[i]=0
print('Replaced list=',list1)

Replaced list= [12, 0, 11, 0, 0]

In [15]:
#43. Convert a string into a list of words.
my_str='I love India'
list1=my_str.split()
print('List of words=',list1)

List of words= ['I', 'love', 'India']

In [16]:
#44. Convert a list of words into a string.
list1=['I', 'love', 'India']
my_str=' '.join(list1)
print('String=',my_str)

String= I love India

In [17]:
#45. Create a list of the first `n` powers of 2.
n=int(input('Enter the value of n='))
list1=[]
for i in range(1,n+1):
    list1.append(i*i)
print('List=',list1)

Enter the value of n=6
List= [1, 4, 9, 16, 25, 36]

In [18]:
#46. Find the longest string in a list of strings.
list1=['I', 'love', 'India']
long_str=max(list1,key=len)
print('Longest string=',long_str)

Longest string= India

In [19]:
#47. Find the shortest string in a list of strings.
list1=['I', 'love', 'India']
short_str=min(list1,key=len)
print('Shortest string=',short_str)

Shortest string= I

In [20]:
#48. Create a list of the first `n` triangular numbers.
n=int(input('Enter the value of n='))
tringular_numbers=[]
for i in range(1,n+1):
    numbers=i*(i+1)//2
    tringular_numbers.append(numbers)
print('Triangular numbers list=',tringular_numbers)

Enter the value of n=6
Triangular numbers list= [1, 3, 6, 10, 15, 21]

In [21]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(sub, lst):
    i = 0
    for x in lst:
        if x == sub[i]:
            i += 1
            if i == len(sub):
                return True
    return False

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list = [2, 3, 4]

if is_subsequence(sub_list, my_list):
    print("The sub-list is a subsequence of the list.")
else:
    print("The sub-list is not a subsequence of the list.")

The sub-list is a subsequence of the list.

In [22]:
#50. Swap two elements in a list by their indices.
list1 = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3
print('List=',list1)
list1[index1], list1[index2] = list1[index2], list1[index1]
print('Swap list=',list1)

List= [1, 2, 3, 4, 5]
Swap list= [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

In [147]:
#1. Create a tuple with integers from 1 to 5.
tpl=()
for i in range(1,6):
    tpl=tpl+(i,)
print(tpl)

(1, 2, 3, 4, 5)

In [148]:
#2. Access the third element of a tuple.
tpl=(1, 2, 3, 4, 5)
print(tpl[2])

3

In [149]:
#3. Find the length of a tuple without using the `len()` function.
tpl=(1, 2, 3, 4, 5)
count=0
for i in tpl:
    count=count+1
print('Length of the tuple=',count)

Length of the tuple= 5

In [150]:
#4. Count the occurrences of an element in a tuple.
tpl=(1, 2, 3, 4, 5,3)
ele=3
count=0
for i in tpl:
    if i==3:
        count=count+1
print('Count of occurrences=',count)

Count of occurrences= 2

In [151]:
#5. Find the index of the first occurrence of an element in a tuple.
tpl=(1, 2, 3, 4, 5,3)
ele=3
index=tpl.index(ele)
print('Index of the first occurence=',index)

Index of the first occurence= 2

In [152]:
#6. Check if an element exists in a tuple.
tpl=(1, 2, 3, 4, 5,3)
if 2 in tpl:
    print('Elemen exists in the tuple')
else:
    print('Element not exists in tuple')

Elemen exists in the tuple

In [153]:
#7. Convert a tuple to a list.
tpl=(1, 2, 3, 4, 5,3)
list1=list(tpl)
print('List=',list1)

List= [1, 2, 3, 4, 5, 3]

In [154]:
#. Convert a list to a tuple.
list1= [1, 2, 3, 4, 5, 3]
tpl=tuple(list1)
print('Tuple=',tpl)

Tuple= (1, 2, 3, 4, 5, 3)

In [155]:
#9. Unpack the elements of a tuple into variables.
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a,b,c, sep=',')

1,2,3

In [156]:
#10. Create a tuple of even numbers from 1 to 10.
tpl=()
for i in range(1,11):
    if i%2==0:
        tpl=tpl+(i,)
print('Tuple of even numbers=',tpl)

Tuple of even numbers= (2, 4, 6, 8, 10)

In [157]:
#11. Create a tuple of odd numbers from 1 to 10.
tpl=()
for i in range(1,11):
    if i%2!=0:
        tpl=tpl+(i,)
print('Tuple of odd numbers=',tpl)

Tuple of odd numbers= (1, 3, 5, 7, 9)

In [158]:
#12. Concatenate two tuples.
tpl1=(1, 2, 3, 4, 5,3)
tpl2=(1,5,9)
print(tpl1+tpl2)

(1, 2, 3, 4, 5, 3, 1, 5, 9)

In [159]:
#13. Repeat a tuple three times.
tpl=(1, 2, 3, 4, 5,3)
print(tpl*3)

(1, 2, 3, 4, 5, 3, 1, 2, 3, 4, 5, 3, 1, 2, 3, 4, 5, 3)

In [160]:
#14. Check if a tuple is empty.
tpl=()
if len(tpl)==0:
    print('The tuple is a empty tuple')
else:
    print('The tuple is not a empty tuple')

The tuple is a empty tuple

In [161]:
#15. Create a nested tuple.
tpl=((1,2,3),(2,3,4),(3,4,5))
print('Nested tuple=',tpl)

Nested tuple= ((1, 2, 3), (2, 3, 4), (3, 4, 5))

In [162]:
#16. Access the first element of a nested tuple.
tpl=((1,2,3),(2,3,4),(3,4,5))
print('First element=',tpl[0])

First element= (1, 2, 3)

In [163]:
#17. Create a tuple with a single element.
tpl=(23,)
print('Single element tuple=',tpl)

Single element tuple= (23,)

In [164]:
#18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2) 
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [165]:
#19. Delete a tuple.
tpl=(1, 2, 3, 4, 5,3)
del tpl
print(tpl)

NameError: name 'tpl' is not defined

In [166]:
#20. Slice a tuple.
tpl=(1, 2, 3, 4, 5,3)
print(tpl[0:2])

(1, 2)

In [167]:
#21. Find the maximum value in a tuple.
tpl=(1, 2, 3, 4, 5,3)
print('Maximum value=',max(tpl))

Maximum value= 5

In [168]:
#22. Find the minimum value in a tuple.
tpl=(1, 2, 3, 4, 5,3)
print('Minimum value=',min(tpl))

Minimum value= 1

In [169]:
#23. Convert a string to a tuple of characters.
st='I love India'
tpl=tuple(st)
print('Converted touple=',tpl)

Converted touple= ('I', ' ', 'l', 'o', 'v', 'e', ' ', 'I', 'n', 'd', 'i', 'a')

In [170]:
#24. Convert a tuple of characters to a string.
tpl= ('I', ' ', 'l', 'o', 'v', 'e', ' ', 'I', 'n', 'd', 'i', 'a')
st=''.join(tpl)
print('Converted string=',st)

Converted string= I love India

In [171]:
#25. Create a tuple from multiple data types.
tpl=(1,2,3,'asd', True, 3.23)
print(tpl)

(1, 2, 3, 'asd', True, 3.23)

In [172]:
#26. Check if two tuples are identical.
tpl1 = (1, 2, 3)
tpl2 = (1, 2, 3)
if tpl1==tpl2:
    print('tpl1 and tpl2 are identical')
else:
    print('tpl1 and tpl2 are not identical')

tpl1 and tpl2 are identical

In [173]:
#27. Sort the elements of a tuple.
tpl = (5, 2, 8, 1, 3)
sorted_tpl=tuple(sorted(tpl))
print('Shoretd touple=',sorted_tpl)

Shoretd touple= (1, 2, 3, 5, 8)

In [174]:
#28. Convert a tuple of integers to a tuple of strings.
tpl=(1,2,3,4,5)
str_tpl=tuple(str(i) for i in tpl)
print(str_tpl)

('1', '2', '3', '4', '5')

In [175]:
#28. Convert a tuple of integers to a tuple of strings.
tpl=(1,2,3,4,5)
str_tpl=()
for i in tpl:
    a=str(i)
    str_tpl=str_tpl+(a,)
print(str_tpl)

('1', '2', '3', '4', '5')

In [176]:
#29. Convert a tuple of strings to a tuple of integers.
tpl_str=('1', '2', '3', '4', '5')
tpl_int=()
for i in tpl_str:
    a=int(i)
    tpl_int=tpl_int+(a,)
print(tpl_int)

(1, 2, 3, 4, 5)

In [177]:
tpl_str=('1', '2', '3', '4', '5')
tpl_int=tuple(int(i) for i in tpl_str)
print(tpl_int)

(1, 2, 3, 4, 5)

In [178]:
#30. Merge two tuples.
tpl1=(1,2,3)
tpl2=(2,3,4)
print(tpl1+tpl2)

(1, 2, 3, 2, 3, 4)

In [179]:
#31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return tuple(flat_list)
nested_tuple=((1,2,3),(3,4,5),(4,5,6))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 3, 4, 5, 4, 5, 6)

In [180]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(0.5*n+1)):
        if n%i==0:
            return False
    return True
prime_number_list=[n for n in range(2,100) if is_prime(n)][0:5]
prime_tuple=tuple(prime_number_list)
print('Prime_tuple=',prime_tuple)

Prime_tuple= (2, 3, 5, 7, 11)

In [181]:
#33. Check if a tuple is a palindrome.
def is_palindrom(tpl):
    return tpl==tpl[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
is_palindrome1 = is_palindrom(palindrome_tuple)
is_palindrome2 = is_palindrom(non_palindrome_tuple)
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [182]:
#34. Create a tuple of squares of numbers from 1 to 5.
tpl=()
for i in range(1,6):
    tpl=tpl+(i*i,)
print(tpl)

(1, 4, 9, 16, 25)

In [183]:
#35. Filter out all even numbers from a tuple.
tpl=(1,2,3,4,5,6,7,8,9,10)
fil_tpl=()
for i in tpl:
    if i%2!=0:
        a=i
        fil_tpl=fil_tpl+(a,)
print(fil_tpl)

(1, 3, 5, 7, 9)

In [184]:
#36. Multiply all elements in a tuple by 2.
tpl=(1,2,3,4,5,6,7,8,9,10)
new_tpl=tuple(i*2 for i in tpl)
print(new_tpl)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [185]:
#37. Create a tuple of random numbers.
import random
random_tuple=tuple(random.randint(1,100) for _ in range(10))
print(random_tuple)

(35, 2, 67, 6, 75, 38, 50, 43, 27, 45)

In [186]:
#38. Check if a tuple is sorted.
def is_tuple_sorted(tup):
    return sorted(tup) == list(tup)
tup=(1,3,5,6,9)
is_sorted=is_tuple_sorted(tup)
print(is_sorted)

True

In [187]:
#39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup, n):
    return tup[n:] + tup[:n]
tup = (1, 2, 3, 4, 5)
rotate_tuple_left(tup, 2)

(3, 4, 5, 1, 2)

In [188]:
#40. Rotate a tuple to the right by `n` positions.
def rotet_tuple_right(tup,n):
    return tup[-n:]+tup[:-n]
tup = (1, 2, 3, 4, 5)
rotet_tuple_right(tup, 2)

(4, 5, 1, 2, 3)

In [189]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def fibonacci_tuple(n):
    fib = (0, 1)
    for i in range(2, n):
        fib += (fib[i-1] + fib[i-2],)
    return fib[:n]

fibonacci_5 = fibonacci_tuple(5)
print(fibonacci_5)

(0, 1, 1, 2, 3)

In [190]:
#42. Create a tuple from user input.
user_input=input('Enter input=')
values=user_input.split()
tpl=tuple(values)
print(tpl)

Enter input=2,3,4,5,6
('2,3,4,5,6',)

In [191]:
#43. Swap two elements in a tuple.
def swap_tpl(tpl,i,j):
    lst=list(tpl)
    lst[i],lst[j]=lst[j],lst[i]
    return tuple(lst)
tpl=(1,2,3,4)
updated_tpl=swap_tpl(tpl,2,3)
print(updated_tpl)

(1, 2, 4, 3)

In [192]:
#44. Reverse the elements of a tuple.
def reverse_tpl(tpl):
    lst=list(tpl)
    return lst[::-1]
tpl=(1,2,3,4,5)
updated_tpl=reverse_tpl(tpl)
print(updated_tpl)

[5, 4, 3, 2, 1]

In [193]:
#45. Create a tuple of the first `n` powers of 2.
def powers_tpl(n):
    tpl=()
    for i in range(n+1):
        tpl=tpl+(i**2,)
    return tpl
    
tup=powers_tpl(7)
print(tup)

(0, 1, 4, 9, 16, 25, 36, 49)

In [194]:
#46. Find the longest string in a tuple of strings.
def longest_strn(tup):
    longest=""
    for string in tup:
        if len(string)>len(longest):
            longest=string
    return longest
tup=('asdhg','sad','asffasg')
lng=longest_strn(tup)
print(lng)

asffasg

In [195]:
#47. Find the shortest string in a tuple of strings.
def sortest_strn(tup):
    sortest=tup[0]
    for string in tup:
        if len(string)<len(sortest):
            sortest=string
    return sortest
tup=('asdhg','sad','asffasg')
srt=sortest_strn(tup)
print(srt)

sad

In [196]:
#48. Create a tuple of the first `n` triangular numbers.
def triangular_numbers(n):
    triangulars = ()
    for i in range(1, n+1):
        triangulars += (i * (i+1) // 2,)
    return triangulars

my_tuple = triangular_numbers(5)
print(my_tuple)

(1, 3, 6, 10, 15)

In [197]:
#49. Check if a tuple contains another tuple as a subsequence.
def is_subsequence(sub, tup):
    n = len(sub)
    for i in range(len(tup) - n + 1):
        if tup[i:i+n] == sub:
            return True
    return False

my_tuple = (1, 2, 3, 4, 5)
sub_tuple = (2, 3, 4)
result = is_subsequence(sub_tuple, my_tuple)
print(result)

True

In [198]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
def alternating_tuple(n):
    lst = [1 if i % 2 == 0 else 0 for i in range(n)]
    return tuple(lst)

my_tuple = alternating_tuple(5)
print(my_tuple)

(1, 0, 1, 0, 1)

# Set Based Practice Problem :

In [199]:
#1. Create a set with integers from 1 to 5.
emty_set=set()
for i in range(1,6):
    emty_set.add(i)
print(emty_set)

{1, 2, 3, 4, 5}

In [200]:
#2. Add an element to a set.
my_set={1,2,3,4}
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [201]:
#3. Remove an element from a set.
my_set={1,2,3,4,5}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4}

In [202]:
#4. Check if an element exists in a set.
my_set={1,2,3,4,5}
if 2 in my_set:
    print('True')
else:
    print('False')

True

In [203]:
#5. Find the length of a set without using the `len()` function.
my_set={1,2,3,4,5}
count=0
for i in my_set:
    count=count+1
print('Length of the set=',count)

Length of the set= 5

In [204]:
#6. Clear all elements from a set.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [205]:
#7. Create a set of even numbers from 1 to 10.
my_set=set()
for i in range(1,11):
    if i%2==0:
        my_set.add(i)
print('Set of even numbers=',my_set)

Set of even numbers= {2, 4, 6, 8, 10}

In [206]:
#8. Create a set of odd numbers from 1 to 10.
my_set=set()
for i in range(1,11):
    if i%2 !=0:
        my_set.add(i)
print('Set of odd numbers=',my_set)

Set of odd numbers= {1, 3, 5, 7, 9}

In [207]:
#9. Find the union of two sets.
set1={1,2,3,4,5}
set2={4,5,2,3,7}
new_set=set1.union(set2)
print(new_set)

{1, 2, 3, 4, 5, 7}

In [208]:
#10. Find the intersection of two sets.
set1={1,2,3,4,5}
set2={4,5,2,3,7}
new_set=set1.intersection(set2)
print(new_set)

{2, 3, 4, 5}

In [209]:
#11. Find the difference between two sets.
set1={1,2,3,4,5}
set2={4,5,2,3,7}
new_set=set1.difference(set2)
print(new_set)

{1}

In [210]:
#12. Check if a set is a subset of another set.
set1={1,2,3,4,5,6,7}
set2={1,2,3,6}
new_set=set1.issubset(set2)
print(new_set)

False

In [211]:
#13. Check if a set is a superset of another set.
set1={1,2,3,4,5,6,7}
set2={1,2,3,6}
new_set=set1.issuperset(set2)
print(new_set)

True

In [212]:
#14. Create a set from a list.
lst=[1,2,3,4,5,6]
set1=set(lst)
print('Set=',set1)
print(type(set1))

Set= {1, 2, 3, 4, 5, 6}
<class 'set'>

In [213]:
#15. Convert a set to a list.
set1= {1, 2, 3, 4, 5, 6}
lst=list(set1)
print('List=',lst)
print(type(lst))

List= [1, 2, 3, 4, 5, 6]
<class 'list'>

In [214]:
#16. Remove a random element from a set.
import random
my_set={1,2,3,4,5}
print('Original set=',my_set)
random_element=random.choice(list(my_set))
my_set.remove(random_element)
print('Updated set=',my_set)

Original set= {1, 2, 3, 4, 5}
Updated set= {2, 3, 4, 5}

In [215]:
#17. Pop an element from a set.
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
poped_ele=my_set.pop()
print('Poped element=',poped_ele)
print('Updated set=',my_set)

Original set: {1, 2, 3, 4, 5}
Poped element= 1
Updated set= {2, 3, 4, 5}

In [216]:
#18. Check if two sets have no elements in common.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [217]:
#19. Find the symmetric difference between two sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [218]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [219]:
#21. Create a set of the first 5 prime numbers.
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(0.5*n)+1):
        if n%i==0:
            return False
    return True
prime_set = set()
n=2
while len(prime_set)<5:
    if is_prime(n):
        prime_set.add(n)
    n=n+1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [220]:
#22. Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [221]:
#23. Create a frozen set.
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [222]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [223]:
#25. Create a set of squares of numbers from 1 to 5.
squares_set = set()
for num in range(1, 6):
        square = num ** 2
        squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [224]:
#26. Filter out all even numbers from a set.
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [225]:
#27. Multiply all elements in a set by 2.
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [226]:
#28. Create a set of random numbers.
import random
num_random_numbers = 5
random_number_set = set()

for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {97, 100, 89, 28, 95}

In [227]:
#29. Check if a set is empty.
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [228]:
#30. Create a nested set (hint: use frozenset).# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [229]:
#31. Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [230]:
#32. Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [231]:
#33. Create a set from a string.
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'o', 'h', 'e', 'l'}

In [232]:
#34. Convert a set of strings to a set of integers.
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}

In [233]:
#35. Convert a set of integers to a set of strings.
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '4', '3', '1', '5'}

In [234]:
# 36. Create a set from a tuple.
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now

{1, 2, 3, 4, 5}

In [235]:
# 37. Convert a set to a tuple.
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [236]:
#38. Find the maximum value in a set.
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [237]:
# 39. Find the minimum value in a set.
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [238]:
# 40. Create a set from user input.
# Take user input as a comma-separated string
user_input = input("Enter elements separated by commas: ")

# Split the string into individual elements
elements = user_input.split(",")

# Create a set from the elements
my_set = set(elements)

# Print the set
print(my_set)

Enter elements separated by commas: 2,3,4,5
{'4', '3', '5', '2'}

In [239]:
#41. Check if the intersection of two sets is empty.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [240]:
# 42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [241]:
# 43. Remove duplicates from a list using sets.
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [242]:
#44. Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [243]:
#45. Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [244]:
# 46. Find the common elements between a set and a list.
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [246]:
#47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 6
The set of the first 6 triangular numbers is: {1, 3, 6, 10, 15, 21}

In [247]:
# 48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [248]:
#49. Create a set of alternating 1s and 0s of length `n`.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [249]:
#50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}